@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.flags {
  width: 20rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(255, 255, 255, 0.2);*/
  border-radius: 10px;
}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  row-gap: 10px;
  overflow: scroll;
  min-height: 100vh;
  margin-top: 20px;
}

.main {
  background: linear-gradient(45deg, #a449f6, #ff9500);
  padding-bottom: 10px;
}

.load {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.img {
  width: 20rem;
  height: 13rem;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

.er-mg {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.container {
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 10px;
  padding: 0 6px 0 6px;
}

.tittle-text {
  font-family: "roboto", Sans-Serif;
  font-weight: 500;
  font-size: 23px;
}

.tittle {
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.line {
  width: 14rem;
  height: 2px;
  background-color: gray;
}

.info-link {
  text-decoration: underline;
  font-size: 18px;
  color: blue;
}
.parent {
  flex-direction: column;
  row-gap: 10px;
}

.err-msg {
  font-size: 22px;
  font-weight: 700;
}

.search--area {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-height: 6rem;
}
.input--parent {
  width: 20rem;
  height: 3rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.search--input {
  border-radius: 999px 0 0 999px;
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  background: none;
  padding: 0 5px 0 15px;
}

.search--btn {
  border-radius: 0 999px 999px 0;
  width: 20%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
}
.boxer {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  height: max-content;
  border-radius: 10px;
  overflow: scroll;
  padding: 10px;
  flex-direction: column;
  row-gap: 10px;
}
