@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.flags {
  width: 20rem;
  height: 15rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(255, 255, 255, 0.2);*/
  border-radius: 10px;}

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  row-gap: 10px;
  overflow: scroll;
  min-height: 100vh;
}

.main {
  background: linear-gradient(45deg, #a449f6, #ff9500);
padding-bottom: 10px;
}

.load {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.img {
  width: 20rem;
  height: 13rem;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

.er-mg {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.container {
  flex-direction: column;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 10px;
}

.tittle-text {
  font-family: "roboto", Sans-Serif;
  font-weight: 500;
  font-size: 23px;
}

.tittle {
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.line {
  width: 14rem;
  height: 2px;
  background-color: gray;
}

.info-link {
  text-decoration: underline;
  font-size: 18px;
  color: blue;
}
.parent {
  flex-direction: column;
  row-gap: 10px;
}

.err-msg {
  font-size: 22px;
  font-weight: 700;
  
}
